.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bookshelf-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img/backdrop.jpeg");
  background-size: cover;
  
}

.bookshelf {
  position: absolute;
  top: 15%;
  left: 10%;
  padding: 5% 10% 10% 10%;
  width: 60%;
  text-align: center;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.65);
}

.shelf-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-link {
  width: 15vh;
  height: 15vh;
  /* flex-grow: 1; */
}

.bottom-shelf {
  position: absolute;
  bottom: 6px;
  height: 6px;
  width: 100%;
  border: 2px solid #888888;
  /* border-radius: 5%; */
  background-color: #888888;
  box-shadow: 10px 6px 12px #aaaaaa; 
}

.book-view {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.artifact-bookstack {
  background-image: url("img/bookstack.png");
  background-size: 90% 90%;
}

.artifact-vase {
  background-image: url("img/vase.png");
  background-size: 70% 70%;
}